
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductInfo</title>
</head>
<body>
    <div> 
        <h1>product data</h1>

    </div>
</body>
</html>
